*
!src/
!src/*/
!src/globals/*.in
!pyoof/
!pyoof/**.py
!pyoof/**.pyx
!pyoof/**.h
!cmake/
!cmake/Modules/
!cmake/Modules/*.cmake
!examples/
!examples/**.py
!*.f90
!.gitignore
!CMakeLists.txt
!distclean.cmake
!README.md
!version.txt
!pyproject.toml
!LICENSE
!PyOOF_Programmers_at_work.png
